{"openapi":"3.1.0","info":{"title":"FastAPI","version":"0.1.0"},"servers":[{"url":"https://platform.ankra.app"}],"paths":{"/api/v1/account/tokens":{"get":{"tags":["Account API"],"summary":"List User Api Tokens Endpoint","operationId":"list_user_api_tokens_endpoint_api_v1_account_tokens_get","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ListUserTokensResponse"},"title":"Response List User Api Tokens Endpoint Api V1 Account Tokens Get"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/clusters":{"get":{"tags":["Cluster"],"summary":"List Clusters Endpoint","operationId":"list_clusters_endpoint_api_v1_clusters_get","parameters":[{"name":"cluster_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid4"},{"type":"null"}],"title":"Cluster Id"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","default":1,"title":"Page"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","default":25,"title":"Page Size"}},{"name":"cluster_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cluster Name"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response List Clusters Endpoint Api V1 Clusters Get"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/clusters/{cluster_id}/provision":{"post":{"tags":["Cluster"],"summary":"Cluster Start Endpoint","operationId":"cluster_start_endpoint_api_v1_clusters__cluster_id__provision_post","parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"string","format":"uuid4","title":"Cluster Id"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartClusterResult"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/clusters/{cluster_id}/deprovision":{"post":{"tags":["Cluster"],"summary":"Deprovision Cluster Endpoint","operationId":"deprovision_cluster_endpoint_api_v1_clusters__cluster_id__deprovision_post","parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"string","format":"uuid4","title":"Cluster Id"}},{"name":"auto_delete","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Auto Delete"}},{"name":"force","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Force"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeprovisionClusterResult"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/clusters/{cluster_name}":{"delete":{"tags":["Cluster"],"summary":"Delete Cluster By Name Endpoint","operationId":"delete_cluster_by_name_endpoint_api_v1_clusters__cluster_name__delete","parameters":[{"name":"cluster_name","in":"path","required":true,"schema":{"type":"string","title":"Cluster Name"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteClusterByNameResult"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/clusters/{cluster_id}/operations":{"get":{"tags":["Cluster"],"summary":"List Operations Endpoint","operationId":"list_operations_endpoint_api_v1_clusters__cluster_id__operations_get","parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"string","format":"uuid4","title":"Cluster Id"}},{"name":"status_list","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"List of statuses, send as multiple query parameters, ex: status_list=blocked&status_list=running","title":"Status List"},"description":"List of statuses, send as multiple query parameters, ex: status_list=blocked&status_list=running"},{"name":"type_list","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"List of types, send as multiple query parameters, ex: type_list=read&type_list=write","default":["read","write"],"title":"Type List"},"description":"List of types, send as multiple query parameters, ex: type_list=read&type_list=write"},{"name":"page","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Page"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","default":25,"title":"Page Size"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response List Operations Endpoint Api V1 Clusters  Cluster Id  Operations Get"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/clusters/{cluster_id}/operations/{operation_id}":{"get":{"tags":["Cluster"],"summary":"Get Operation Endpoint","operationId":"get_operation_endpoint_api_v1_clusters__cluster_id__operations__operation_id__get","parameters":[{"name":"operation_id","in":"path","required":true,"schema":{"type":"string","format":"uuid4","title":"Operation Id"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Get Operation Endpoint Api V1 Clusters  Cluster Id  Operations  Operation Id  Get"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/clusters/{cluster_id}/operations/{operation_id}/jobs":{"get":{"tags":["Cluster"],"summary":"List Operation Updated Jobs Endpoint","operationId":"list_operation_updated_jobs_endpoint_api_v1_clusters__cluster_id__operations__operation_id__jobs_get","parameters":[{"name":"operation_id","in":"path","required":true,"schema":{"type":"string","format":"uuid4","title":"Operation Id"}},{"name":"from_utc_timestamp","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"From Utc Timestamp"}},{"name":"job_kind","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Job Kind"}},{"name":"detailed_job_information","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string","format":"uuid4"}},{"type":"null"}],"default":[],"title":"Detailed Job Information"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetJobStatusResponse"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/clusters/{cluster_id}/addons":{"get":{"tags":["Cluster"],"summary":"List Cluster Addons Endpoint","operationId":"list_cluster_addons_endpoint_api_v1_clusters__cluster_id__addons_get","parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"string","format":"uuid4","title":"Cluster Id"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","default":1,"title":"Page"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","default":25,"title":"Page Size"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListClusterAddonsResponse"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/clusters/{cluster_id}/stacks":{"get":{"tags":["Cluster"],"summary":"List Cluster Stacks Endpoint","operationId":"list_cluster_stacks_endpoint_api_v1_clusters__cluster_id__stacks_get","parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"string","format":"uuid4","title":"Cluster Id"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListClusterStacksResult"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/clusters/{cluster_id}/manifests":{"get":{"tags":["Cluster"],"summary":"List Cluster Manifests Endpoint","operationId":"list_cluster_manifests_endpoint_api_v1_clusters__cluster_id__manifests_get","parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"string","format":"uuid4","title":"Cluster Id"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListClusterManifestsResult"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/clusters/import":{"post":{"tags":["Cluster"],"summary":"Create Or Update Import Cluster Endpoint","operationId":"create_or_update_import_cluster_endpoint_api_v1_clusters_import_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateImportClusterRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdateImportClusterResult"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/clusters/resources/roll-to":{"post":{"tags":["Cluster"],"summary":"Roll To Cluster Resource Version Endpoint","operationId":"roll_to_cluster_resource_version_endpoint_api_v1_clusters_resources_roll_to_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RollToClusterResourceVersionRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RollToClusterResourceVersionResult"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/organisations":{"get":{"tags":["Organisation"],"summary":"List Organisations Endpoint","operationId":"list_organisations_endpoint_api_v1_organisations_get","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrganisationSummary"},"title":"Response List Organisations Endpoint Api V1 Organisations Get"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/organisations/invite":{"post":{"tags":["Organisation"],"summary":"Invite User Endpoint","operationId":"invite_user_endpoint_api_v1_organisations_invite_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteUserToOrganisationRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteUserToOrganisationResponse"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/organisations/switch":{"post":{"tags":["Organisation"],"summary":"Switch Organisation Endpoint","operationId":"switch_organisation_endpoint_api_v1_organisations_switch_post","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwitchUserOrganisationRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwitchUserOrganisationResponse"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/organisations/user":{"delete":{"tags":["Organisation"],"summary":"Delete User From Organisation Endpoint","operationId":"delete_user_from_organisation_endpoint_api_v1_organisations_user_delete","parameters":[{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteUserFromOrganisationRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteUserFromOrganisationResponse"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/org/platform/create_or_update":{"post":{"tags":["Platform Engine Playground"],"summary":"Create Or Update Platform Engine Resources Endpoint","operationId":"create_or_update_platform_engine_resources_endpoint_org_platform_create_or_update_post","parameters":[{"name":"ankra_session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Session"}},{"name":"ankra_refresh","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Refresh"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdatePlatformEngineResourcesRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrUpdatePlatformEngineResourcesResult"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/org/platform/proxmox/public_key/{resource_id}":{"get":{"tags":["Platform Engine Playground"],"summary":"Get Proxmox Public Key Endpoint","operationId":"get_proxmox_public_key_endpoint_org_platform_proxmox_public_key__resource_id__get","parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","format":"uuid4","title":"Resource Id"}},{"name":"ankra_session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Session"}},{"name":"ankra_refresh","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Refresh"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/org/helm/charts":{"get":{"tags":["Helm Charts"],"summary":"List Helm Charts Endpoint","operationId":"list_helm_charts_endpoint_org_helm_charts_get","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Page Size"}},{"name":"search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Search"}},{"name":"ankra_session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Session"}},{"name":"ankra_refresh","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Refresh"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListHelmChartResult"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/org/helm/charts/releases/{repository_name}/{chart_name}":{"get":{"tags":["Helm Charts"],"summary":"Get Helm Chart Releases Endpoint","operationId":"get_helm_chart_releases_endpoint_org_helm_charts_releases__repository_name___chart_name__get","parameters":[{"name":"repository_name","in":"path","required":true,"schema":{"type":"string","title":"Repository Name"}},{"name":"chart_name","in":"path","required":true,"schema":{"type":"string","title":"Chart Name"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Page Size"}},{"name":"search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Search"}},{"name":"ankra_session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Session"}},{"name":"ankra_refresh","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Refresh"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetHelmChartReleasesResult"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/org/helm/charts/chart/{repository_name}/{chart_name}/{chart_version}":{"get":{"tags":["Helm Charts"],"summary":"Get Helm Chart Endpoint","operationId":"get_helm_chart_endpoint_org_helm_charts_chart__repository_name___chart_name___chart_version__get","parameters":[{"name":"repository_name","in":"path","required":true,"schema":{"type":"string","title":"Repository Name"}},{"name":"chart_name","in":"path","required":true,"schema":{"type":"string","title":"Chart Name"}},{"name":"chart_version","in":"path","required":true,"schema":{"type":"string","title":"Chart Version"}},{"name":"values","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Values"}},{"name":"readme","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Readme"}},{"name":"ankra_session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Session"}},{"name":"ankra_refresh","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Refresh"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetHelmChartResult"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/org/helm/registries":{"post":{"tags":["Helm Charts"],"summary":"Create Helm Registry Endpoint","operationId":"create_helm_registry_endpoint_org_helm_registries_post","parameters":[{"name":"ankra_session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Session"}},{"name":"ankra_refresh","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Refresh"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateHelmChartRegistryRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateHelmChartRegistryResult"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Helm Charts"],"summary":"List Helm Registries Endpoint","operationId":"list_helm_registries_endpoint_org_helm_registries_get","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Page Size"}},{"name":"search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Search"}},{"name":"sort_by","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/RegistrySortColumn"},{"type":"null"}],"title":"Sort By"}},{"name":"sort_order","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/SortOrder"},{"type":"null"}],"title":"Sort Order"}},{"name":"ankra_session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Session"}},{"name":"ankra_refresh","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Refresh"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListHelmChartRegistriesResult"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/org/helm/registries/{registry_name}":{"get":{"tags":["Helm Charts"],"summary":"Get Helm Registry Endpoint","operationId":"get_helm_registry_endpoint_org_helm_registries__registry_name__get","parameters":[{"name":"registry_name","in":"path","required":true,"schema":{"type":"string","title":"Registry Name"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Page Size"}},{"name":"search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Search"}},{"name":"order_type","in":"query","required":false,"schema":{"type":"string","default":"name_asc","title":"Order Type"}},{"name":"ankra_session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Session"}},{"name":"ankra_refresh","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Refresh"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetHelmChartRegistryResult"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["Helm Charts"],"summary":"Update Helm Registry Endpoint","operationId":"update_helm_registry_endpoint_org_helm_registries__registry_name__put","parameters":[{"name":"registry_name","in":"path","required":true,"schema":{"type":"string","title":"Registry Name"}},{"name":"ankra_session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Session"}},{"name":"ankra_refresh","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Refresh"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateHelmChartRegistryRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateHelmChartRegistryResult"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Helm Charts"],"summary":"Delete Helm Registry Endpoint","operationId":"delete_helm_registry_endpoint_org_helm_registries__registry_name__delete","parameters":[{"name":"registry_name","in":"path","required":true,"schema":{"type":"string","title":"Registry Name"}},{"name":"ankra_session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Session"}},{"name":"ankra_refresh","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Refresh"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteHelmChartRegistryResult"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/org/helm/credentials":{"post":{"tags":["Helm Charts"],"summary":"Create Helm Registry Creds Endpoint","operationId":"create_helm_registry_creds_endpoint_org_helm_credentials_post","parameters":[{"name":"ankra_session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Session"}},{"name":"ankra_refresh","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Refresh"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRegistryCredentialRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRegistryCredentialResult"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Helm Charts"],"summary":"List Registry Credentials Endpoint","operationId":"list_registry_credentials_endpoint_org_helm_credentials_get","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":100,"title":"Page Size"}},{"name":"ankra_session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Session"}},{"name":"ankra_refresh","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Refresh"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListRegistryCredentialsResult"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/org/helm/credentials/{credential_name}":{"get":{"tags":["Helm Charts"],"summary":"Get Registry Credential Endpoint","operationId":"get_registry_credential_endpoint_org_helm_credentials__credential_name__get","parameters":[{"name":"credential_name","in":"path","required":true,"schema":{"type":"string","title":"Credential Name"}},{"name":"ankra_session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Session"}},{"name":"ankra_refresh","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Refresh"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRegistryCredentialResult"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["Helm Charts"],"summary":"Update Registry Credential Endpoint","operationId":"update_registry_credential_endpoint_org_helm_credentials__credential_name__put","parameters":[{"name":"credential_name","in":"path","required":true,"schema":{"type":"string","title":"Credential Name"}},{"name":"ankra_session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Session"}},{"name":"ankra_refresh","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Refresh"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRegistryCredentialRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRegistryCredentialResult"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Helm Charts"],"summary":"Delete Registry Credential Endpoint","operationId":"delete_registry_credential_endpoint_org_helm_credentials__credential_name__delete","parameters":[{"name":"credential_name","in":"path","required":true,"schema":{"type":"string","title":"Credential Name"}},{"name":"ankra_session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Session"}},{"name":"ankra_refresh","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Refresh"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteRegistryCredentialResult"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/org/helm/resource/{resource_id}/reset-circuit-breaker":{"post":{"tags":["Helm Charts"],"summary":"Reset Platform Resource Circuit Breaker Endpoint","operationId":"reset_platform_resource_circuit_breaker_endpoint_org_helm_resource__resource_id__reset_circuit_breaker_post","parameters":[{"name":"resource_id","in":"path","required":true,"schema":{"type":"string","format":"uuid4","title":"Resource Id"}},{"name":"ankra_session","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Session"}},{"name":"ankra_refresh","in":"cookie","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ankra Refresh"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetCircuitBreakerResult"}}}},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"Addon-Input":{"properties":{"name":{"type":"string","title":"Name"},"chart_name":{"type":"string","title":"Chart Name"},"chart_version":{"type":"string","title":"Chart Version"},"registry_name":{"type":"string","title":"Registry Name"},"registry_url":{"type":"string","title":"Registry Url"},"namespace":{"type":"string","title":"Namespace"},"registry_credential_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Registry Credential Name"},"configuration_type":{"anyOf":[{"$ref":"#/components/schemas/AddonConfigurationType"},{"type":"null"}]},"configuration":{"anyOf":[{"$ref":"#/components/schemas/AddonStandaloneConfiguration"},{"type":"null"}]},"parents":{"items":{"$ref":"#/components/schemas/Parent"},"type":"array","title":"Parents","default":[]},"settings":{"anyOf":[{"$ref":"#/components/schemas/AddonSettings-Input"},{"type":"null"}]}},"additionalProperties":false,"type":"object","required":["name","chart_name","chart_version","registry_name","registry_url","namespace"],"title":"Addon"},"Addon-Output":{"properties":{"name":{"type":"string","title":"Name"},"chart_name":{"type":"string","title":"Chart Name"},"chart_version":{"type":"string","title":"Chart Version"},"registry_name":{"type":"string","title":"Registry Name"},"registry_url":{"type":"string","title":"Registry Url"},"namespace":{"type":"string","title":"Namespace"},"registry_credential_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Registry Credential Name"},"configuration_type":{"anyOf":[{"$ref":"#/components/schemas/AddonConfigurationType"},{"type":"null"}]},"configuration":{"anyOf":[{"$ref":"#/components/schemas/AddonStandaloneConfiguration"},{"type":"null"}]},"parents":{"items":{"$ref":"#/components/schemas/Parent"},"type":"array","title":"Parents","default":[]},"settings":{"anyOf":[{"$ref":"#/components/schemas/AddonSettings-Output"},{"type":"null"}]}},"additionalProperties":false,"type":"object","required":["name","chart_name","chart_version","registry_name","registry_url","namespace"],"title":"Addon"},"AddonConfigurationType":{"type":"string","enum":["standalone","profile"],"title":"AddonConfigurationType"},"AddonRetryBackoff":{"properties":{"duration":{"type":"string","title":"Duration","default":"5s"},"factor":{"type":"integer","title":"Factor","default":2},"max_duration":{"type":"string","title":"Max Duration","default":"3m"}},"type":"object","title":"AddonRetryBackoff"},"AddonRetryPolicy":{"properties":{"limit":{"type":"integer","title":"Limit","default":5},"backoff":{"$ref":"#/components/schemas/AddonRetryBackoff","default":{"duration":"5s","factor":2,"max_duration":"3m"}}},"type":"object","title":"AddonRetryPolicy"},"AddonSettings-Input":{"properties":{"sync_policy":{"$ref":"#/components/schemas/AddonSyncPolicy","default":{"automated":true,"auto_prune":true,"self_heal":true,"sync_options":["CreateNamespace=true","ServerSideApply=true"]}},"sync_window":{"anyOf":[{"$ref":"#/components/schemas/AddonSyncWindow"},{"type":"null"}]},"ignore_differences":{"items":{"$ref":"#/components/schemas/IgnoreDifference"},"type":"array","title":"Ignore Differences","default":[]},"retry_policy":{"$ref":"#/components/schemas/AddonRetryPolicy","default":{"limit":5,"backoff":{"duration":"5s","factor":2,"max_duration":"3m"}}},"revision_history_limit":{"type":"integer","title":"Revision History Limit","default":10}},"type":"object","title":"AddonSettings"},"AddonSettings-Output":{"properties":{"sync_policy":{"$ref":"#/components/schemas/AddonSyncPolicy","default":{"automated":true,"auto_prune":true,"self_heal":true,"sync_options":["CreateNamespace=true","ServerSideApply=true"]}},"sync_window":{"anyOf":[{"$ref":"#/components/schemas/AddonSyncWindow"},{"type":"null"}]},"ignore_differences":{"items":{"$ref":"#/components/schemas/IgnoreDifference"},"type":"array","title":"Ignore Differences","default":[]},"retry_policy":{"$ref":"#/components/schemas/AddonRetryPolicy","default":{"limit":5,"backoff":{"duration":"5s","factor":2,"max_duration":"3m"}}},"revision_history_limit":{"type":"integer","title":"Revision History Limit","default":10}},"type":"object","title":"AddonSettings"},"AddonStandaloneConfiguration":{"properties":{"values_base64":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Values Base64"},"from_file":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"From File"},"encrypted_paths":{"items":{"type":"string"},"type":"array","title":"Encrypted Paths","default":[]}},"type":"object","title":"AddonStandaloneConfiguration"},"AddonSyncPolicy":{"properties":{"automated":{"type":"boolean","title":"Automated","default":true},"auto_prune":{"type":"boolean","title":"Auto Prune","default":true},"self_heal":{"type":"boolean","title":"Self Heal","default":true},"sync_options":{"items":{"type":"string"},"type":"array","title":"Sync Options","default":["CreateNamespace=true","ServerSideApply=true"]}},"type":"object","title":"AddonSyncPolicy"},"AddonSyncWindow":{"properties":{"enabled":{"type":"boolean","title":"Enabled","default":false},"schedule":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Schedule"},"duration":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Duration"},"timezone":{"type":"string","title":"Timezone","default":"UTC"}},"type":"object","title":"AddonSyncWindow"},"AnkraAgent":{"properties":{"url":{"type":"string","title":"Url"},"version":{"type":"string","title":"Version"}},"type":"object","required":["url","version"],"title":"AnkraAgent"},"ArgoCD":{"properties":{"namespace":{"type":"string","title":"Namespace"},"version":{"type":"string","title":"Version"}},"type":"object","required":["namespace","version"],"title":"ArgoCD"},"Chart":{"properties":{"name":{"type":"string","title":"Name"},"registry_name":{"type":"string","title":"Registry Name"},"registry_url":{"type":"string","title":"Registry Url"},"registry_resource_kind":{"$ref":"#/components/schemas/HelmResourceKind"},"versions":{"items":{"$ref":"#/components/schemas/ChartVersion"},"type":"array","title":"Versions","default":[]},"github_release_scraper":{"anyOf":[{"$ref":"#/components/schemas/GithubRepositoryChartReleaseScraper"},{"type":"null"}]}},"type":"object","required":["name","registry_name","registry_url","registry_resource_kind"],"title":"Chart"},"ChartVersion":{"properties":{"name":{"type":"string","title":"Name"},"version":{"type":"string","title":"Version"},"package_url":{"type":"string","title":"Package Url"},"digest":{"type":"string","title":"Digest"},"registry_name":{"type":"string","title":"Registry Name"},"registry_url":{"type":"string","title":"Registry Url"},"tgz_s3_link":{"type":"string","title":"Tgz S3 Link"},"is_deprecated":{"type":"boolean","title":"Is Deprecated","default":false},"created":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string"},{"type":"null"}],"title":"Created"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"icon":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Icon"},"sources":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Sources"},"maintainers":{"anyOf":[{"items":{"$ref":"#/components/schemas/Maintainer"},"type":"array"},{"type":"null"}],"title":"Maintainers"},"keywords":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Keywords"},"home_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Home Url"},"readme_s3_link":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Readme S3 Link"},"values_s3_link":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Values S3 Link"},"values_schema_s3_link":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Values Schema S3 Link"},"created_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Created At"},"updated_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updated At"},"registry_credential_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Registry Credential Name"}},"type":"object","required":["name","version","package_url","digest","registry_name","registry_url","tgz_s3_link"],"title":"ChartVersion"},"CloudProvider":{"type":"string","enum":["aws","imported"],"title":"CloudProvider"},"ClusterAddonListItem":{"properties":{"name":{"type":"string","title":"Name"},"chart_name":{"type":"string","title":"Chart Name"},"chart_version":{"type":"string","title":"Chart Version"},"registry_url":{"type":"string","title":"Registry Url"},"namespace":{"type":"string","title":"Namespace"},"stack_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Stack Name"},"health":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Health"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"updated_at":{"type":"string","format":"date-time","title":"Updated At"},"state":{"anyOf":[{"$ref":"#/components/schemas/ResourceState"},{"type":"null"}]},"through_ankra":{"type":"boolean","title":"Through Ankra","default":false},"icon":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Icon"}},"type":"object","required":["name","chart_name","chart_version","registry_url","namespace","created_at","updated_at"],"title":"ClusterAddonListItem"},"ClusterStackDraft":{"properties":{"id":{"type":"string","format":"uuid4","title":"Id"},"name":{"type":"string","title":"Name"}},"type":"object","required":["id","name"],"title":"ClusterStackDraft"},"CreateHelmChartRegistryRequest":{"properties":{"spec":{"$ref":"#/components/schemas/PlatformResourceSpecification"}},"type":"object","required":["spec"],"title":"CreateHelmChartRegistryRequest"},"CreateHelmChartRegistryResult":{"properties":{"errors":{"items":{"$ref":"#/components/schemas/ResourceError"},"type":"array","title":"Errors","default":[]}},"type":"object","title":"CreateHelmChartRegistryResult"},"CreateOrUpdateImportClusterRequest":{"properties":{"name":{"type":"string","title":"Name"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"spec":{"anyOf":[{"$ref":"#/components/schemas/ResourceSpecification"},{"type":"null"}]}},"type":"object","required":["name"],"title":"CreateOrUpdateImportClusterRequest"},"CreateOrUpdateImportClusterResult":{"properties":{"name":{"type":"string","title":"Name"},"cluster_id":{"type":"string","format":"uuid4","title":"Cluster Id"},"organisation_id":{"type":"string","format":"uuid4","title":"Organisation Id"},"import_command":{"type":"string","title":"Import Command"},"errors":{"items":{"$ref":"#/components/schemas/ResourceError"},"type":"array","title":"Errors","default":[]},"commit_sha":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Commit Sha"},"commit_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Commit Url"}},"type":"object","required":["name","cluster_id","organisation_id","import_command"],"title":"CreateOrUpdateImportClusterResult"},"CreateOrUpdatePlatformEngineResourcesRequest":{"properties":{"spec":{"$ref":"#/components/schemas/PlatformResourceSpecification"}},"type":"object","required":["spec"],"title":"CreateOrUpdatePlatformEngineResourcesRequest"},"CreateOrUpdatePlatformEngineResourcesResult":{"properties":{"errors":{"items":{"$ref":"#/components/schemas/ResourceError"},"type":"array","title":"Errors","default":[]}},"type":"object","title":"CreateOrUpdatePlatformEngineResourcesResult"},"CreateRegistryCredentialRequest":{"properties":{"name":{"type":"string","title":"Name"},"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"}},"type":"object","required":["name","username","password"],"title":"CreateRegistryCredentialRequest"},"CreateRegistryCredentialResult":{"properties":{"success":{"type":"boolean","title":"Success","default":true},"errors":{"items":{"$ref":"#/components/schemas/ResourceError"},"type":"array","title":"Errors","default":[]}},"type":"object","title":"CreateRegistryCredentialResult"},"DeleteClusterByNameResult":{"properties":{"deleted_at":{"type":"string","format":"date-time","title":"Deleted At"}},"type":"object","required":["deleted_at"],"title":"DeleteClusterByNameResult"},"DeleteHelmChartRegistryResult":{"properties":{"marked_for_deletion_at":{"type":"string","format":"date-time","title":"Marked For Deletion At"}},"type":"object","required":["marked_for_deletion_at"],"title":"DeleteHelmChartRegistryResult"},"DeleteRegistryCredentialResult":{"properties":{"success":{"type":"boolean","title":"Success","default":true}},"type":"object","title":"DeleteRegistryCredentialResult"},"DeleteUserFromOrganisationRequest":{"properties":{"user_id":{"type":"string","format":"uuid4","title":"User Id"},"organisation_id":{"type":"string","format":"uuid4","title":"Organisation Id"}},"type":"object","required":["user_id","organisation_id"],"title":"DeleteUserFromOrganisationRequest"},"DeleteUserFromOrganisationResponse":{"properties":{"success":{"type":"boolean","title":"Success"},"message":{"type":"string","title":"Message"}},"type":"object","required":["success","message"],"title":"DeleteUserFromOrganisationResponse"},"DeprovisionClusterResult":{"properties":{"marked_for_deprovision_at":{"type":"string","format":"date-time","title":"Marked For Deprovision At"}},"type":"object","required":["marked_for_deprovision_at"],"title":"DeprovisionClusterResult"},"ErrorItem":{"properties":{"key":{"type":"string","title":"Key"},"message":{"type":"string","title":"Message"}},"type":"object","required":["key","message"],"title":"ErrorItem"},"ExtendedHTTPRegistry":{"properties":{"name":{"type":"string","title":"Name"},"url":{"type":"string","title":"Url"},"exclude_charts":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Exclude Charts","default":[]},"credential_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Credential Name"},"delete_permanently":{"type":"boolean","title":"Delete Permanently","default":false},"created_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Created At"},"updated_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updated At"},"indexing":{"type":"boolean","title":"Indexing"},"last_indexed_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Indexed At"},"next_sync_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Next Sync At"},"chart_count":{"type":"integer","title":"Chart Count"},"is_global":{"type":"boolean","title":"Is Global"}},"type":"object","required":["name","url","indexing","chart_count","is_global"],"title":"ExtendedHTTPRegistry"},"ExtendedOCIRegistry":{"properties":{"name":{"type":"string","title":"Name"},"url":{"type":"string","title":"Url"},"credential_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Credential Name"},"delete_permanently":{"type":"boolean","title":"Delete Permanently","default":false},"created_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Created At"},"updated_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updated At"},"indexing":{"type":"boolean","title":"Indexing"},"last_indexed_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Indexed At"},"next_sync_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Next Sync At"},"chart_count":{"type":"integer","title":"Chart Count"},"is_global":{"type":"boolean","title":"Is Global"}},"type":"object","required":["name","url","indexing","chart_count","is_global"],"title":"ExtendedOCIRegistry"},"FrontendAddon-Input":{"properties":{"name":{"type":"string","title":"Name"},"chart_name":{"type":"string","title":"Chart Name"},"chart_version":{"type":"string","title":"Chart Version"},"registry_name":{"type":"string","title":"Registry Name"},"registry_url":{"type":"string","title":"Registry Url"},"namespace":{"type":"string","title":"Namespace"},"registry_credential_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Registry Credential Name"},"configuration_type":{"anyOf":[{"$ref":"#/components/schemas/AddonConfigurationType"},{"type":"null"}]},"configuration":{"anyOf":[{"$ref":"#/components/schemas/AddonStandaloneConfiguration"},{"type":"null"}]},"parents":{"items":{"$ref":"#/components/schemas/Parent"},"type":"array","title":"Parents","default":[]},"settings":{"anyOf":[{"$ref":"#/components/schemas/AddonSettings-Input"},{"type":"null"}]},"health":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Health"},"state":{"anyOf":[{"$ref":"#/components/schemas/ResourceState"},{"type":"null"}]},"chart_icon":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Chart Icon"},"delete_permanently":{"type":"boolean","title":"Delete Permanently","default":false},"position":{"anyOf":[{"$ref":"#/components/schemas/FrontendStackItemPosition"},{"type":"null"}]},"node_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Node Id"},"job_configuration":{"anyOf":[{"$ref":"#/components/schemas/JobConfiguration"},{"type":"null"}]},"draft":{"type":"boolean","title":"Draft","default":false},"job":{"anyOf":[{"$ref":"#/components/schemas/SchedulerJob"},{"type":"null"}]},"resource_id":{"anyOf":[{"type":"string","format":"uuid4"},{"type":"null"}],"title":"Resource Id"},"version_history":{"items":{"$ref":"#/components/schemas/VersionHistoryEntry"},"type":"array","title":"Version History","default":[]}},"additionalProperties":false,"type":"object","required":["name","chart_name","chart_version","registry_name","registry_url","namespace"],"title":"FrontendAddon"},"FrontendAddon-Output":{"properties":{"name":{"type":"string","title":"Name"},"chart_name":{"type":"string","title":"Chart Name"},"chart_version":{"type":"string","title":"Chart Version"},"registry_name":{"type":"string","title":"Registry Name"},"registry_url":{"type":"string","title":"Registry Url"},"namespace":{"type":"string","title":"Namespace"},"registry_credential_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Registry Credential Name"},"configuration_type":{"anyOf":[{"$ref":"#/components/schemas/AddonConfigurationType"},{"type":"null"}]},"configuration":{"anyOf":[{"$ref":"#/components/schemas/AddonStandaloneConfiguration"},{"type":"null"}]},"parents":{"items":{"$ref":"#/components/schemas/Parent"},"type":"array","title":"Parents","default":[]},"settings":{"anyOf":[{"$ref":"#/components/schemas/AddonSettings-Output"},{"type":"null"}]},"health":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Health"},"state":{"anyOf":[{"$ref":"#/components/schemas/ResourceState"},{"type":"null"}]},"chart_icon":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Chart Icon"},"delete_permanently":{"type":"boolean","title":"Delete Permanently","default":false},"position":{"anyOf":[{"$ref":"#/components/schemas/FrontendStackItemPosition"},{"type":"null"}]},"node_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Node Id"},"job_configuration":{"anyOf":[{"$ref":"#/components/schemas/JobConfiguration"},{"type":"null"}]},"draft":{"type":"boolean","title":"Draft","default":false},"job":{"anyOf":[{"$ref":"#/components/schemas/SchedulerJob"},{"type":"null"}]},"resource_id":{"anyOf":[{"type":"string","format":"uuid4"},{"type":"null"}],"title":"Resource Id"},"version_history":{"items":{"$ref":"#/components/schemas/VersionHistoryEntry"},"type":"array","title":"Version History","default":[]}},"additionalProperties":false,"type":"object","required":["name","chart_name","chart_version","registry_name","registry_url","namespace"],"title":"FrontendAddon"},"FrontendManifest-Input":{"properties":{"name":{"type":"string","title":"Name"},"namespace":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Namespace"},"manifest_base64":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Manifest Base64"},"parents":{"items":{"$ref":"#/components/schemas/Parent"},"type":"array","title":"Parents","default":[]},"from_file":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"From File"},"encrypted_paths":{"items":{"type":"string"},"type":"array","title":"Encrypted Paths","default":[]},"force":{"type":"boolean","title":"Force","default":false},"delete_permanently":{"type":"boolean","title":"Delete Permanently","default":false},"state":{"anyOf":[{"$ref":"#/components/schemas/ResourceState"},{"type":"null"}]},"position":{"anyOf":[{"$ref":"#/components/schemas/FrontendStackItemPosition"},{"type":"null"}]},"node_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Node Id"},"job_configuration":{"anyOf":[{"$ref":"#/components/schemas/JobConfiguration"},{"type":"null"}]},"draft":{"type":"boolean","title":"Draft","default":false},"job":{"anyOf":[{"$ref":"#/components/schemas/SchedulerJob"},{"type":"null"}]},"resource_id":{"anyOf":[{"type":"string","format":"uuid4"},{"type":"null"}],"title":"Resource Id"},"version_history":{"items":{"$ref":"#/components/schemas/VersionHistoryEntry"},"type":"array","title":"Version History","default":[]}},"additionalProperties":false,"type":"object","required":["name"],"title":"FrontendManifest"},"FrontendManifest-Output":{"properties":{"name":{"type":"string","title":"Name"},"namespace":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Namespace"},"manifest_base64":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Manifest Base64"},"parents":{"items":{"$ref":"#/components/schemas/Parent"},"type":"array","title":"Parents","default":[]},"from_file":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"From File"},"encrypted_paths":{"items":{"type":"string"},"type":"array","title":"Encrypted Paths","default":[]},"force":{"type":"boolean","title":"Force","default":false},"delete_permanently":{"type":"boolean","title":"Delete Permanently","default":false},"state":{"anyOf":[{"$ref":"#/components/schemas/ResourceState"},{"type":"null"}]},"position":{"anyOf":[{"$ref":"#/components/schemas/FrontendStackItemPosition"},{"type":"null"}]},"node_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Node Id"},"job_configuration":{"anyOf":[{"$ref":"#/components/schemas/JobConfiguration"},{"type":"null"}]},"draft":{"type":"boolean","title":"Draft","default":false},"job":{"anyOf":[{"$ref":"#/components/schemas/SchedulerJob"},{"type":"null"}]},"resource_id":{"anyOf":[{"type":"string","format":"uuid4"},{"type":"null"}],"title":"Resource Id"},"version_history":{"items":{"$ref":"#/components/schemas/VersionHistoryEntry"},"type":"array","title":"Version History","default":[]}},"additionalProperties":false,"type":"object","required":["name"],"title":"FrontendManifest"},"FrontendStack-Input":{"properties":{"name":{"type":"string","title":"Name"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"manifests":{"items":{"anyOf":[{"$ref":"#/components/schemas/Manifest"},{"$ref":"#/components/schemas/FrontendManifest-Input"}]},"type":"array","title":"Manifests","default":[]},"addons":{"items":{"anyOf":[{"$ref":"#/components/schemas/Addon-Input"},{"$ref":"#/components/schemas/FrontendAddon-Input"}]},"type":"array","title":"Addons","default":[]},"state":{"anyOf":[{"$ref":"#/components/schemas/ResourceState"},{"type":"null"}]},"delete_permanently":{"type":"boolean","title":"Delete Permanently","default":false},"draft_id":{"anyOf":[{"type":"string","format":"uuid4"},{"type":"null"}],"title":"Draft Id"},"jobs":{"items":{"$ref":"#/components/schemas/SchedulerJob"},"type":"array","title":"Jobs","default":[]}},"type":"object","required":["name"],"title":"FrontendStack"},"FrontendStack-Output":{"properties":{"name":{"type":"string","title":"Name"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"manifests":{"items":{"anyOf":[{"$ref":"#/components/schemas/Manifest"},{"$ref":"#/components/schemas/FrontendManifest-Output"}]},"type":"array","title":"Manifests","default":[]},"addons":{"items":{"anyOf":[{"$ref":"#/components/schemas/Addon-Output"},{"$ref":"#/components/schemas/FrontendAddon-Output"}]},"type":"array","title":"Addons","default":[]},"state":{"anyOf":[{"$ref":"#/components/schemas/ResourceState"},{"type":"null"}]},"delete_permanently":{"type":"boolean","title":"Delete Permanently","default":false},"draft_id":{"anyOf":[{"type":"string","format":"uuid4"},{"type":"null"}],"title":"Draft Id"},"jobs":{"items":{"$ref":"#/components/schemas/SchedulerJob"},"type":"array","title":"Jobs","default":[]}},"type":"object","required":["name"],"title":"FrontendStack"},"FrontendStackItemPosition":{"properties":{"x":{"type":"number","title":"X"},"y":{"type":"number","title":"Y"}},"type":"object","required":["x","y"],"title":"FrontendStackItemPosition"},"GetHelmChartRegistryResult":{"properties":{"registry":{"anyOf":[{"$ref":"#/components/schemas/OCIRegistry"},{"$ref":"#/components/schemas/HTTPRegistry"}],"title":"Registry"},"charts":{"items":{"$ref":"#/components/schemas/ChartVersion"},"type":"array","title":"Charts"},"indexing":{"type":"boolean","title":"Indexing"},"last_indexed_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Indexed At"},"read_job_interval":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Read Job Interval"},"pagination":{"$ref":"#/components/schemas/Pagination"},"organisation_id":{"anyOf":[{"type":"string","format":"uuid4"},{"type":"null"}],"title":"Organisation Id"}},"type":"object","required":["registry","charts","indexing","pagination"],"title":"GetHelmChartRegistryResult"},"GetHelmChartReleasesResult":{"properties":{"result":{"items":{"$ref":"#/components/schemas/GithubChartRelease"},"type":"array","title":"Result"},"total":{"type":"integer","title":"Total"},"page":{"type":"integer","title":"Page"},"page_size":{"type":"integer","title":"Page Size"},"has_next":{"type":"boolean","title":"Has Next"}},"type":"object","required":["result","total","page","page_size","has_next"],"title":"GetHelmChartReleasesResult"},"GetHelmChartResult":{"properties":{"name":{"type":"string","title":"Name"},"version":{"type":"string","title":"Version"},"package_url":{"type":"string","title":"Package Url"},"digest":{"type":"string","title":"Digest"},"registry_name":{"type":"string","title":"Registry Name"},"registry_url":{"type":"string","title":"Registry Url"},"tgz_s3_link":{"type":"string","title":"Tgz S3 Link"},"is_deprecated":{"type":"boolean","title":"Is Deprecated","default":false},"created":{"anyOf":[{"type":"string","format":"date-time"},{"type":"string"},{"type":"null"}],"title":"Created"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"icon":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Icon"},"sources":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Sources"},"maintainers":{"anyOf":[{"items":{"$ref":"#/components/schemas/Maintainer"},"type":"array"},{"type":"null"}],"title":"Maintainers"},"keywords":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Keywords"},"home_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Home Url"},"readme_s3_link":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Readme S3 Link"},"values_s3_link":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Values S3 Link"},"values_schema_s3_link":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Values Schema S3 Link"},"created_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Created At"},"updated_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updated At"},"registry_credential_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Registry Credential Name"},"base64_values":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Base64 Values"},"base64_readme":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Base64 Readme"},"versions":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Versions"},"chart_unavailable":{"type":"boolean","title":"Chart Unavailable","default":false}},"type":"object","required":["name","version","package_url","digest","registry_name","registry_url","tgz_s3_link"],"title":"GetHelmChartResult"},"GetJobStatusResponse":{"properties":{"operation_information":{"anyOf":[{"$ref":"#/components/schemas/OperationalStatus"},{"type":"null"}]},"jobs":{"items":{"$ref":"#/components/schemas/JobStatusUpdate"},"type":"array","title":"Jobs"},"detailed_job_information":{"items":{"$ref":"#/components/schemas/JobInformation"},"type":"array","title":"Detailed Job Information"}},"type":"object","required":["operation_information","jobs","detailed_job_information"],"title":"GetJobStatusResponse"},"GetRegistryCredentialResult":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"username":{"type":"string","title":"Username"},"provider":{"type":"string","title":"Provider","default":"helm"},"created_at":{"type":"string","title":"Created At"},"updated_at":{"type":"string","title":"Updated At"}},"type":"object","required":["id","name","username","created_at","updated_at"],"title":"GetRegistryCredentialResult"},"GitProvider":{"type":"string","enum":["github","gitlab"],"title":"GitProvider"},"GitRepository":{"properties":{"provider":{"$ref":"#/components/schemas/GitProvider"},"credential_name":{"type":"string","title":"Credential Name"},"branch":{"type":"string","title":"Branch"},"repository":{"type":"string","title":"Repository"}},"type":"object","required":["provider","credential_name","branch","repository"],"title":"GitRepository"},"GithubAccessibleRepositoriesScraper":{"properties":{"credential_name":{"type":"string","title":"Credential Name"}},"type":"object","required":["credential_name"],"title":"GithubAccessibleRepositoriesScraper"},"GithubChartRelease":{"properties":{"repository_owner":{"type":"string","title":"Repository Owner"},"repository_name":{"type":"string","title":"Repository Name"},"version":{"type":"string","title":"Version"},"html_url":{"type":"string","title":"Html Url"},"body":{"type":"string","title":"Body"},"created_at":{"type":"string","title":"Created At"},"prerelease":{"type":"boolean","title":"Prerelease","default":false},"release_id":{"type":"string","title":"Release Id"},"authors":{"items":{"type":"string"},"type":"array","title":"Authors"},"chart_resource_id":{"type":"string","format":"uuid4","title":"Chart Resource Id"}},"type":"object","required":["repository_owner","repository_name","version","html_url","body","created_at","release_id","authors","chart_resource_id"],"title":"GithubChartRelease"},"GithubCredential":{"properties":{"name":{"type":"string","title":"Name"},"access_token":{"type":"string","title":"Access Token"},"account_type":{"type":"string","title":"Account Type"},"account_login":{"type":"string","title":"Account Login"}},"type":"object","required":["name","access_token","account_type","account_login"],"title":"GithubCredential"},"GithubRepository":{"properties":{"name":{"type":"string","title":"Name"},"owner":{"type":"string","title":"Owner"},"default_branch":{"type":"string","title":"Default Branch"},"web_url":{"type":"string","title":"Web Url"},"git_url":{"type":"string","title":"Git Url"},"private":{"type":"boolean","title":"Private"},"credential_name":{"type":"string","title":"Credential Name"}},"type":"object","required":["name","owner","default_branch","web_url","git_url","private","credential_name"],"title":"GithubRepository"},"GithubRepositoryChartReleaseScraper":{"properties":{"repository_owner":{"type":"string","title":"Repository Owner"},"repository_name":{"type":"string","title":"Repository Name"}},"type":"object","required":["repository_owner","repository_name"],"title":"GithubRepositoryChartReleaseScraper"},"GlobalGithubHelmRegistryRepository":{"properties":{"repository_owner":{"type":"string","title":"Repository Owner"},"repository_name":{"type":"string","title":"Repository Name"},"registry_directory_path":{"type":"string","title":"Registry Directory Path"},"branch":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Branch","default":"master"}},"type":"object","required":["repository_owner","repository_name","registry_directory_path"],"title":"GlobalGithubHelmRegistryRepository"},"HTTPRegistry":{"properties":{"name":{"type":"string","title":"Name"},"url":{"type":"string","title":"Url"},"exclude_charts":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Exclude Charts","default":[]},"credential_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Credential Name"},"delete_permanently":{"type":"boolean","title":"Delete Permanently","default":false},"created_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Created At"},"updated_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updated At"}},"type":"object","required":["name","url"],"title":"HTTPRegistry"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"HelmResourceKind":{"type":"string","enum":["chart","chart_version","oci_registry","github_chart_release","github_repository_chart_release_scraper","http_registry","registry_credential","global_github_helm_registry_repository"],"title":"HelmResourceKind"},"IgnoreDifference":{"properties":{"group":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Group"},"kind":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Kind"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"namespace":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Namespace"},"json_pointers":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Json Pointers"},"jq_path_expressions":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Jq Path Expressions"},"managed_fields_managers":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Managed Fields Managers"}},"type":"object","title":"IgnoreDifference"},"InviteUserToOrganisationRequest":{"properties":{"organisation_id":{"type":"string","format":"uuid4","title":"Organisation Id"},"invitee_email":{"type":"string","format":"email","title":"Invitee Email"},"role":{"type":"string","enum":["member","admin","read-only"],"title":"Role"}},"type":"object","required":["organisation_id","invitee_email","role"],"title":"InviteUserToOrganisationRequest"},"InviteUserToOrganisationResponse":{"properties":{"success":{"type":"boolean","title":"Success"},"message":{"type":"string","title":"Message"}},"type":"object","required":["success","message"],"title":"InviteUserToOrganisationResponse"},"JobConfiguration":{"properties":{"create_job_timeout":{"type":"integer","title":"Create Job Timeout","default":420},"read_job_timeout":{"type":"integer","title":"Read Job Timeout","default":30},"update_job_timeout":{"type":"integer","title":"Update Job Timeout","default":420},"delete_job_timeout":{"type":"integer","title":"Delete Job Timeout","default":300}},"type":"object","title":"JobConfiguration"},"JobInformation":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"result":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Result"},"status_events":{"items":{"$ref":"#/components/schemas/StatusEvent"},"type":"array","title":"Status Events"},"resource_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Resource Id"},"resource_kind":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Resource Kind"}},"type":"object","required":["id","status_events","resource_id","resource_kind"],"title":"JobInformation"},"JobStatus":{"type":"string","enum":["running","success","failed","timeout","pending","blocked","cancelling","cancelled"],"title":"JobStatus"},"JobStatusUpdate":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"status":{"$ref":"#/components/schemas/JobStatus"},"updated_at":{"type":"string","format":"date-time","title":"Updated At"},"start_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Start At"},"stop_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Stop At"}},"type":"object","required":["id","name","status","updated_at","start_at","stop_at"],"title":"JobStatusUpdate"},"Kubernetes":{"properties":{"version":{"type":"string","title":"Version","default":"0.0.0"}},"type":"object","title":"Kubernetes"},"ListClusterAddonsResponse":{"properties":{"result":{"items":{"$ref":"#/components/schemas/ClusterAddonListItem"},"type":"array","title":"Result"},"pagination":{"$ref":"#/components/schemas/Pagination"}},"type":"object","required":["result","pagination"],"title":"ListClusterAddonsResponse"},"ListClusterManifestsResult":{"properties":{"result":{"items":{"$ref":"#/components/schemas/ManifestItem"},"type":"array","title":"Result"},"pagination":{"$ref":"#/components/schemas/Pagination"}},"type":"object","required":["result","pagination"],"title":"ListClusterManifestsResult"},"ListClusterStacksResult":{"properties":{"stacks":{"items":{"$ref":"#/components/schemas/FrontendStack-Output"},"type":"array","title":"Stacks","default":[]},"drafts":{"items":{"$ref":"#/components/schemas/ClusterStackDraft"},"type":"array","title":"Drafts","default":[]}},"type":"object","title":"ListClusterStacksResult"},"ListHelmChartRegistriesResult":{"properties":{"result":{"items":{"anyOf":[{"$ref":"#/components/schemas/ExtendedOCIRegistry"},{"$ref":"#/components/schemas/ExtendedHTTPRegistry"}]},"type":"array","title":"Result"},"pagination":{"$ref":"#/components/schemas/Pagination"}},"type":"object","required":["result","pagination"],"title":"ListHelmChartRegistriesResult"},"ListHelmChartResult":{"properties":{"result":{"items":{"$ref":"#/components/schemas/ChartVersion"},"type":"array","title":"Result"},"pagination":{"$ref":"#/components/schemas/Pagination"}},"type":"object","required":["result","pagination"],"title":"ListHelmChartResult"},"ListRegistryCredentialsResult":{"properties":{"credentials":{"items":{"$ref":"#/components/schemas/RegistryCredentialSummary"},"type":"array","title":"Credentials"},"total_count":{"type":"integer","title":"Total Count"}},"type":"object","required":["credentials","total_count"],"title":"ListRegistryCredentialsResult"},"ListUserTokensResponse":{"properties":{"id":{"type":"string","format":"uuid4","title":"Id"},"name":{"type":"string","title":"Name"},"expires_at":{"type":"string","format":"date-time","title":"Expires At"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"revoked_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Revoked At"}},"type":"object","required":["id","name","expires_at","created_at","revoked_at"],"title":"ListUserTokensResponse"},"Maintainer":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"email":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Email"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"}},"type":"object","title":"Maintainer"},"Manifest":{"properties":{"name":{"type":"string","title":"Name"},"namespace":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Namespace"},"manifest_base64":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Manifest Base64"},"parents":{"items":{"$ref":"#/components/schemas/Parent"},"type":"array","title":"Parents","default":[]},"from_file":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"From File"},"encrypted_paths":{"items":{"type":"string"},"type":"array","title":"Encrypted Paths","default":[]},"force":{"type":"boolean","title":"Force","default":false}},"additionalProperties":false,"type":"object","required":["name"],"title":"Manifest"},"ManifestItem":{"properties":{"name":{"type":"string","title":"Name"},"manifest_base64":{"type":"string","title":"Manifest Base64"},"state":{"$ref":"#/components/schemas/ResourceState"},"delete_permanently":{"type":"boolean","title":"Delete Permanently"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"stack_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Stack Name"}},"type":"object","required":["name","manifest_base64","state","delete_permanently","created_at"],"title":"ManifestItem"},"OCIRegistry":{"properties":{"name":{"type":"string","title":"Name"},"url":{"type":"string","title":"Url"},"credential_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Credential Name"},"delete_permanently":{"type":"boolean","title":"Delete Permanently","default":false},"created_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Created At"},"updated_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updated At"}},"type":"object","required":["name","url"],"title":"OCIRegistry"},"OperationStatus":{"type":"string","enum":["running","stopping","success","cleanup","failed","critical","cancelled"],"title":"OperationStatus"},"OperationalStatus":{"properties":{"name":{"type":"string","title":"Name"},"status":{"$ref":"#/components/schemas/OperationStatus"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"updated_at":{"type":"string","format":"date-time","title":"Updated At"},"last_job_update_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Job Update At"}},"type":"object","required":["name","status","created_at","updated_at","last_job_update_at"],"title":"OperationalStatus"},"OrganisationSummary":{"properties":{"organisation_id":{"type":"string","format":"uuid4","title":"Organisation Id"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"user_current":{"type":"boolean","title":"User Current","default":false},"status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status"},"role":{"anyOf":[{"type":"string","enum":["member","admin","read-only"]},{"type":"null"}],"title":"Role"}},"type":"object","required":["organisation_id"],"title":"OrganisationSummary"},"Pagination":{"properties":{"page":{"type":"integer","title":"Page"},"page_size":{"type":"integer","title":"Page Size"},"total_pages":{"type":"integer","title":"Total Pages"},"total_count":{"type":"integer","title":"Total Count"}},"type":"object","required":["page","page_size","total_pages","total_count"],"title":"Pagination"},"Parent":{"properties":{"name":{"type":"string","title":"Name"},"kind":{"type":"string","title":"Kind"}},"type":"object","required":["name","kind"],"title":"Parent"},"PlatformResourceSpecification":{"properties":{"helm_http_registry":{"anyOf":[{"$ref":"#/components/schemas/HTTPRegistry"},{"type":"null"}]},"helm_oci_registry":{"anyOf":[{"$ref":"#/components/schemas/OCIRegistry"},{"type":"null"}]},"helm_chart":{"anyOf":[{"$ref":"#/components/schemas/Chart"},{"type":"null"}]},"helm_registry_credential":{"anyOf":[{"$ref":"#/components/schemas/RegistryCredential"},{"type":"null"}]},"github_helm_chart_releases":{"anyOf":[{"items":{"$ref":"#/components/schemas/GithubChartRelease"},"type":"array"},{"type":"null"}],"title":"Github Helm Chart Releases"},"github_credential":{"anyOf":[{"$ref":"#/components/schemas/GithubCredential"},{"type":"null"}]},"github_repositories":{"anyOf":[{"items":{"$ref":"#/components/schemas/GithubRepository"},"type":"array"},{"type":"null"}],"title":"Github Repositories"},"github_accessible_repositories_scraper":{"anyOf":[{"$ref":"#/components/schemas/GithubAccessibleRepositoriesScraper"},{"type":"null"}]},"global_github_helm_registry_repository":{"anyOf":[{"$ref":"#/components/schemas/GlobalGithubHelmRegistryRepository"},{"type":"null"}]},"proxmox_credentials":{"anyOf":[{"items":{"$ref":"#/components/schemas/ProxmoxCredential"},"type":"array"},{"type":"null"}],"title":"Proxmox Credentials"},"proxmox_cluster":{"anyOf":[{"$ref":"#/components/schemas/ProxmoxCluster"},{"type":"null"}]}},"type":"object","title":"PlatformResourceSpecification"},"PrometheusCredential":{"properties":{"name":{"type":"string","title":"Name"},"username":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Username"},"password":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Password"},"token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token"}},"type":"object","required":["name"],"title":"PrometheusCredential"},"PrometheusMetrics":{"properties":{"endpoint":{"type":"string","title":"Endpoint"},"credential_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Credential Name"}},"type":"object","required":["endpoint"],"title":"PrometheusMetrics"},"ProxmoxCluster":{"properties":{"cluster_name":{"type":"string","title":"Cluster Name"},"organisation_id":{"type":"string","format":"uuid4","title":"Organisation Id"},"vms":{"items":{"$ref":"#/components/schemas/ProxmoxVM"},"type":"array","title":"Vms"},"network":{"$ref":"#/components/schemas/ProxmoxNetwork"},"credential":{"type":"string","title":"Credential"},"ankra_agent":{"anyOf":[{"$ref":"#/components/schemas/AnkraAgent"},{"type":"null"}]}},"type":"object","required":["cluster_name","organisation_id","vms","network","credential"],"title":"ProxmoxCluster"},"ProxmoxCredential":{"properties":{"name":{"type":"string","title":"Name"},"host":{"type":"string","title":"Host"},"port":{"type":"integer","title":"Port"},"user":{"type":"string","title":"User"},"bastion":{"additionalProperties":true,"type":"object","title":"Bastion","default":{}},"token_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token Name"},"token_value":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token Value"},"password":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Password"}},"type":"object","required":["name","host","port","user"],"title":"ProxmoxCredential"},"ProxmoxNetwork":{"properties":{"name":{"type":"string","title":"Name"},"cidr":{"type":"string","title":"Cidr"},"vlan":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Vlan"}},"type":"object","required":["name","cidr"],"title":"ProxmoxNetwork"},"ProxmoxVM":{"properties":{"name":{"type":"string","title":"Name"},"cpu":{"type":"integer","title":"Cpu"},"memory_mb":{"type":"integer","title":"Memory Mb"},"disk_gb":{"type":"integer","title":"Disk Gb"}},"type":"object","required":["name","cpu","memory_mb","disk_gb"],"title":"ProxmoxVM"},"RegistryCredential":{"properties":{"name":{"type":"string","title":"Name"},"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"}},"type":"object","required":["name","username","password"],"title":"RegistryCredential"},"RegistryCredentialSummary":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"created_at":{"type":"string","title":"Created At"}},"type":"object","required":["id","name","created_at"],"title":"RegistryCredentialSummary"},"RegistrySortColumn":{"type":"string","enum":["name","url","created_at","updated_at","chart_count","last_indexed_at","is_global"],"title":"RegistrySortColumn"},"ResetCircuitBreakerResult":{"properties":{"resource_id":{"type":"string","format":"uuid4","title":"Resource Id"},"previous_failure_count":{"type":"integer","title":"Previous Failure Count"},"reset_success":{"type":"boolean","title":"Reset Success"}},"type":"object","required":["resource_id","previous_failure_count","reset_success"],"title":"ResetCircuitBreakerResult"},"ResourceError":{"properties":{"name":{"type":"string","title":"Name"},"kind":{"type":"string","title":"Kind"},"errors":{"items":{"$ref":"#/components/schemas/ErrorItem"},"type":"array","title":"Errors"}},"type":"object","required":["name","kind"],"title":"ResourceError"},"ResourceSpecification":{"properties":{"git_repository":{"anyOf":[{"$ref":"#/components/schemas/GitRepository"},{"type":"null"}]},"prometheus_metrics":{"anyOf":[{"$ref":"#/components/schemas/PrometheusMetrics"},{"type":"null"}]},"prometheus_credential":{"anyOf":[{"$ref":"#/components/schemas/PrometheusCredential"},{"type":"null"}]},"stacks":{"items":{"anyOf":[{"$ref":"#/components/schemas/Stack"},{"$ref":"#/components/schemas/FrontendStack-Input"}]},"type":"array","title":"Stacks","default":[]},"kubernetes":{"anyOf":[{"$ref":"#/components/schemas/Kubernetes"},{"type":"null"}]},"provider":{"$ref":"#/components/schemas/CloudProvider","default":"imported"},"argo_cd":{"anyOf":[{"$ref":"#/components/schemas/ArgoCD"},{"type":"null"}]}},"type":"object","title":"ResourceSpecification"},"ResourceState":{"type":"string","enum":["creating","updating","stopping","up","down"],"title":"ResourceState"},"RollToClusterResourceVersionRequest":{"properties":{"cluster_id":{"type":"string","format":"uuid4","title":"Cluster Id"},"version_id":{"type":"string","title":"Version Id"}},"type":"object","required":["cluster_id","version_id"],"title":"RollToClusterResourceVersionRequest"},"RollToClusterResourceVersionResult":{"properties":{"ok":{"type":"boolean","title":"Ok","default":true}},"type":"object","title":"RollToClusterResourceVersionResult"},"SchedulerJob":{"properties":{"job_id":{"type":"string","format":"uuid4","title":"Job Id"},"name":{"type":"string","title":"Name"},"status":{"$ref":"#/components/schemas/JobStatus"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"updated_at":{"type":"string","format":"date-time","title":"Updated At"}},"type":"object","required":["job_id","name","status","created_at","updated_at"],"title":"SchedulerJob"},"SortOrder":{"type":"string","enum":["asc","desc"],"title":"SortOrder"},"Stack":{"properties":{"name":{"type":"string","title":"Name"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"manifests":{"items":{"anyOf":[{"$ref":"#/components/schemas/Manifest"},{"$ref":"#/components/schemas/FrontendManifest-Input"}]},"type":"array","title":"Manifests","default":[]},"addons":{"items":{"anyOf":[{"$ref":"#/components/schemas/Addon-Input"},{"$ref":"#/components/schemas/FrontendAddon-Input"}]},"type":"array","title":"Addons","default":[]}},"type":"object","required":["name"],"title":"Stack"},"StartClusterResult":{"properties":{"marked_to_start_at":{"type":"string","format":"date-time","title":"Marked To Start At"}},"type":"object","required":["marked_to_start_at"],"title":"StartClusterResult"},"StatusEvent":{"properties":{"status":{"type":"string","title":"Status"},"event_time":{"type":"string","format":"date-time","title":"Event Time"}},"type":"object","required":["status","event_time"],"title":"StatusEvent"},"SwitchUserOrganisationRequest":{"properties":{"organisation_id":{"type":"string","format":"uuid4","title":"Organisation Id"}},"type":"object","required":["organisation_id"],"title":"SwitchUserOrganisationRequest"},"SwitchUserOrganisationResponse":{"properties":{"success":{"type":"boolean","title":"Success"},"message":{"type":"string","title":"Message"}},"type":"object","required":["success","message"],"title":"SwitchUserOrganisationResponse"},"UpdateHelmChartRegistryRequest":{"properties":{"read_job_interval":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Read Job Interval"}},"type":"object","title":"UpdateHelmChartRegistryRequest"},"UpdateHelmChartRegistryResult":{"properties":{},"type":"object","title":"UpdateHelmChartRegistryResult"},"UpdateRegistryCredentialRequest":{"properties":{"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"}},"type":"object","required":["username","password"],"title":"UpdateRegistryCredentialRequest"},"UpdateRegistryCredentialResult":{"properties":{"errors":{"items":{"$ref":"#/components/schemas/ResourceError"},"type":"array","title":"Errors","default":[]}},"type":"object","title":"UpdateRegistryCredentialResult"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"VersionHistoryEntry":{"properties":{"version_id":{"type":"string","title":"Version Id"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"definition":{"title":"Definition"},"delta":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}],"title":"Delta"},"user_id":{"type":"string","title":"User Id"},"external_user":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"External User"}},"type":"object","required":["version_id","created_at","definition","delta","user_id"],"title":"VersionHistoryEntry"}}}}